aiofiles==24.1.0
aiosqlite==0.20.0
asyncua @ git+https://github.com/FreeOpcUa/opcua-asyncio.git@98a64897a2d171653353de2f36d33085aef65e82
attrs==24.2.0
autobahn==24.4.2
Automat==24.8.1
Brotli==1.1.0
cffi==1.17.1
click==8.1.7
constantly==23.10.4
contourpy==1.3.1
cryptography==44.0.0
cycler==0.12.1
erpc @ git+https://git@github.com/beremiz/erpc.git@d8fff72b15274b5f2a8f7895d9bc5c91eef584ec#subdirectory=erpc_python
fonttools==4.55.3
hyperlink==21.0.0
idna==3.10
ifaddr==0.2.0
incremental==24.7.2
kiwisolver==1.4.7
lxml==5.3.0
matplotlib==3.9.3
msgpack==1.1.0
Nevow @ git+https://git@github.com/beremiz/nevow-py3.git@81c2eaeaaa20022540a98a3106f72e0199fbcc1b
numpy==2.2.0
packaging==24.2
pillow==11.0.0
pycountry==24.6.1
pycparser==2.22
pyparsing==3.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
setuptools==75.6.0
six==1.17.0
sortedcontainers==2.4.0
sslpsk @ git+https://git@github.com/beremiz/sslpsk.git@9cb31986629b382f7427eec29ddc168ad21c7d7c
Twisted==24.11.0
txaio==23.1.1
typing_extensions==4.12.2
wxPython==4.2.2
zeroconf==0.136.2
zope.interface==7.2
