asyncua @ git+https://github.com/FreeOpcUa/opcua-asyncio.git@98a64897a2d171653353de2f36d33085aef65e82
autobahn @ git+https://github.com/crossbario/autobahn-python.git@7bc85b34e200640ab98a41cfddb38267f39bc92e
Brotli
click
erpc @ git+https://git@github.com/beremiz/erpc.git@d8fff72b15274b5f2a8f7895d9bc5c91eef584ec#subdirectory=erpc_python
# gattrdict
lxml
matplotlib
msgpack
Nevow @ git+https://git@github.com/beremiz/nevow-py3.git@0af72850e192cf1ccdd4302016393d606136c7f3
pyOpenSSL
pycountry
# pyserial
service_identity
sslpsk @ git+https://git@github.com/beremiz/sslpsk.git@9cb31986629b382f7427eec29ddc168ad21c7d7c
# Forced to version 4.2.4, the one used in latest Ubuntu LTS 26.04, to speed up build/tests
# python3 -m venv --system-site-packages /where/you/want/beremiz/python3/venv
wxPython==4.2.4
zeroconf
