<?xml version='1.0' encoding='utf-8'?>
<EtherCATConfig>
  <Config>
    <Master>
      <Info>
        <Name/>
        <Destination>00</Destination>
        <Source>00</Source>
      </Info>
    </Master>
    <Slave>
      <Info>
        <Name>undefined</Name>
        <PhysAddr>8</PhysAddr>
        <AutoIncAddr>0</AutoIncAddr>
        <Physics/>
        <VendorId>0</VendorId>
        <ProductCode>0</ProductCode>
        <RevisionNo>0</RevisionNo>
        <SerialNo>0</SerialNo>
      </Info>
    </Slave>
    <Slave>
      <Info>
        <Name>undefined</Name>
        <PhysAddr>6</PhysAddr>
        <AutoIncAddr>0</AutoIncAddr>
        <Physics/>
        <VendorId>0</VendorId>
        <ProductCode>0</ProductCode>
        <RevisionNo>0</RevisionNo>
        <SerialNo>0</SerialNo>
      </Info>
    </Slave>
    <Slave>
      <Info>
        <Name>undefined</Name>
        <PhysAddr>2</PhysAddr>
        <AutoIncAddr>0</AutoIncAddr>
        <Physics/>
        <VendorId>0</VendorId>
        <ProductCode>0</ProductCode>
        <RevisionNo>0</RevisionNo>
        <SerialNo>0</SerialNo>
      </Info>
    </Slave>
    <Slave>
      <Info>
        <Name>undefined</Name>
        <PhysAddr>7</PhysAddr>
        <AutoIncAddr>0</AutoIncAddr>
        <Physics/>
        <VendorId>0</VendorId>
        <ProductCode>0</ProductCode>
        <RevisionNo>0</RevisionNo>
        <SerialNo>0</SerialNo>
      </Info>
    </Slave>
  </Config>
</EtherCATConfig>
