[Desktop Entry]
Encoding=UTF-8
Name=Beremiz Demo (wxGlade)
Comment=Open Source framework for automation
Comment[fr]=Environnement de développement Open Source pour l'automatisme
Exec=/usr/bin/beremiz /usr/share/beremiz/tests/wxGlade
Icon=/usr/share/beremiz/images/brz.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Beremiz_demo;
StartupNotify=true

