[Desktop Entry]
Encoding=UTF-8
Name=Manual
Comment=Open Source framework for automation
Comment[fr]=Environnement de développement Open Source pour l'automatisme
Exec=/usr/bin/xpdf /usr/share/beremiz/doc/manual_beremiz.pdf
Icon=
Terminal=false
MultipleArgs=false
Type=Application
Categories=Beremiz_doc;
StartupNotify=true
