#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Copy source files
	mkdir -p $(CURDIR)/debian/beremiz/usr/share/beremiz
	cp -a images $(CURDIR)/debian/beremiz/usr/share/beremiz
	cp -a plugins $(CURDIR)/debian/beremiz/usr/share/beremiz
	cp -a runtime $(CURDIR)/debian/beremiz/usr/share/beremiz
	cp -a tests $(CURDIR)/debian/beremiz/usr/share/beremiz
	cp -a connectors $(CURDIR)/debian/beremiz/usr/share/beremiz
	cp -a targets $(CURDIR)/debian/beremiz/usr/share/beremiz
	cp -a doc $(CURDIR)/debian/beremiz/usr/share/beremiz
	cp -a locale $(CURDIR)/debian/beremiz/usr/share/beremiz
	cp *.js $(CURDIR)/debian/beremiz/usr/share/beremiz
	cp *.py $(CURDIR)/debian/beremiz/usr/share/beremiz

	# Copy desktop directory file
	mkdir -p $(CURDIR)/debian/beremiz/usr/share/desktop-directories
	cp debian/Beremiz.directory $(CURDIR)/debian/beremiz/usr/share/desktop-directories
	cp debian/Beremiz_demos.directory $(CURDIR)/debian/beremiz/usr/share/desktop-directories
	cp debian/Beremiz_docs.directory $(CURDIR)/debian/beremiz/usr/share/desktop-directories
	
	# Copy desktop menu file
	mkdir -p $(CURDIR)/debian/beremiz/etc/xdg/menus/applications-merged
	cp debian/beremiz.menu $(CURDIR)/debian/beremiz/etc/xdg/menus/applications-merged
	
	# Copy desktop entry files
	mkdir -p $(CURDIR)/debian/beremiz/usr/share/applications
	cp debian/beremiz.desktop $(CURDIR)/debian/beremiz/usr/share/applications/
	cp debian/beremiz_svgui.desktop $(CURDIR)/debian/beremiz/usr/share/applications/
	cp debian/beremiz_wxglade.desktop $(CURDIR)/debian/beremiz/usr/share/applications/
	cp debian/beremiz_doc.desktop $(CURDIR)/debian/beremiz/usr/share/applications/
	
	rm -rf `find .|grep CVS`
	rm -rf `find .|grep .cvsignore`
	chmod -R a+r $(CURDIR)/debian/beremiz

# Build architecture-independent files here.
binary-indep: build install

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
#	dh_installchangelogs 
#	dh_installdocs
	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_makeshlibs
	dh_installdeb
#	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
